.contenedorAgregar{
    display: flex;
    margin: 20px 0px 10px 0px;
    justify-content: center;
}
  
.inputAgragar{
    width: 60%;
    height: 35px;
    border: 2px solid #026002;
    outline: none;
}

.buttonAgragar{
    background-color: #026002;
    border: none;
    color: white;
}