.App {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 20px 0px 0px 0px;
  background-color: #15152c;
}

.logoContenedor{
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logoFreecode{
  height: 50px;
}

.contenedorAplicacion{
  width: 400px;
  height: 400px;
  background-color: gray;
  border-radius: 20px;
  margin: 15px 0px 0px 0px;
}

.titulo{
  padding: 20px 0px 0px 0px;
  font-size: 20px;
}